<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI Example</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <div id="api-key">
        <input type="text" id="api-key-input" placeholder="API Key">
    </div>

    <div class="container">
        <div class="input-section">
            <input type="text" id="input-field" placeholder="야후 뉴스 링크를 입력해주세요!">
            <button id="action-button">공부하자!</button>
        </div>

        <div class="tabs">
            <button class="tab active" onclick="openTab(event, 'top-picks')">토픽</button>
            <button class="tab" onclick="openTab(event, 'domestic')">국내</button>
            <button class="tab" onclick="openTab(event, 'world')">국제</button>
            <button class="tab" onclick="openTab(event, 'business')">경제</button>
            <button class="tab" onclick="openTab(event, 'entertainment')">엔터테인먼트</button>
            <button class="tab" onclick="openTab(event, 'sports')">스포츠</button>
            <button class="tab" onclick="openTab(event, 'it')">IT</button>
            <button class="tab" onclick="openTab(event, 'science')">과학</button>
            <button class="tab" onclick="openTab(event, 'local')">지역</button>
        </div>

        <div class="content">
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
